<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Test</title>
</head>
<body>
    <div class="comboContainer">
        <div class="row">
            <div class="col">
                <div class="row">
                    <input type="checkbox" id="leftControl" class="hiddenCheckbox">
                    <label for="leftControl" class="keyButton">CTRL</label>
                    <input type="checkbox" id="leftShift" class="hiddenCheckbox">
                    <label for="leftShift" class="keyButton">SHIFT</label>
                </div>
                <div class="row">
                    <input type="checkbox" id="leftAlt" class="hiddenCheckbox">
                    <label for="leftAlt" class="keyButton">ALT</label>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <label for="outputText">Input Text</label>
                </div>
                <div class="row textKeys">
                    <input type="text" id="inputText" autocomplete="off">
                </div>
                <div class="row">
                    <label for="outputText">Output Text</label>
                </div>
                <div class="row textKeys">
                    <input type="text" id="outputText" autocomplete="off">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <input type="checkbox" id="rightControl" class="hiddenCheckbox">
                    <label for="rightControl" class="keyButton">CTRL</label>
                    <input type="checkbox" id="rightShift" class="hiddenCheckbox">
                    <label for="rightShift" class="keyButton">SHIFT</label>
                </div>
                <div class="row">
                    <input type="checkbox" id="rightAlt" class="hiddenCheckbox">
                    <label for="rightAlt" class="keyButton">ALT</label>
                </div>
            </div>
        </div>
        <div class="row">
            <button>Implement</button>
        </div>
    </div>
    <script src="../static/scripts/script.js"></script>
</body>
</html>